.board-ui {
    position: absolute;
    pointer-events: none;
    touch-action: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
}

.board-ui div {
    pointer-events: none;
    touch-action: none;
}

.board-ui *:not(div) {
    pointer-events: auto;
    touch-action: auto;
}

.top-bar, .left-bar, .bottom-bar, .right-bar {
    display: flex;
    flex-basis: 50px;
}

.top-bar {
    flex-direction: row;
    align-items: start;
}

.bottom-bar {
    flex-direction: column-reverse;
}

.top-bar, .bottom-bar {
    flex-grow: 1;
}


.middle-area {
    display: flex;
    flex-direction: row;
    flex-basis: 50px;
    flex-grow: 2;
}

.middle-separator {
   flex-grow: 4;
   pointer-events: none !important;
   touch-action: none !important;
}

.left-bar, .right-bar {
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: baseline;
}
