.rule-input-area {
    justify-self: center;
    align-self: center;
    width: 50%;

}

.rule-input {
    text-align: center;
}

.rule-input.invalid {
    background-color: red;
}

.rule-input.valid {
    background-color: lightgreen;
}


.editing-buttons {
    flex-basis: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: none;
}

.edit-button {
    border-radius: 5px;
    background-color: white;
    border: none;
    pointer-events: auto;
    aspect-ratio: 1;
}

.edit-button:hover:not(.disabled) {
    transition: background-color 0.25s;
    background-color: rgb(220, 220, 220);
}

.edit-button:active:not(.disabled) {
    transition: background-color 0.1s transform 0.1s;
    background-color: black;
    transform: translateY(2px);
}

.edit-button.selected:hover {
    transition: background-color 0.25s;
    background-color: rgb(110, 110, 110);
}

.edit-button.selected {
    background-color: rgb(50, 50, 50);
}
