
.editor {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
}

.left-side-bar, .right-side-bar {
    background-color: rgb(20, 20, 20);
    padding: 10px;
    overflow: auto;
}

.board-holder {
    grid-column: 4 / 10;
    grid-row: 1 / 7;
    padding: 5px;
    margin: 10px;
    border: 5px solid black;
}

.left-side-bar {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
    background-color: rgb(20, 20, 20);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.right-side-bar {
    grid-column: 10 / 13;
    grid-row: 1 / 8;
    background-color: rgb(20, 20, 20);
}

.tool-bar {
    grid-row: 7 / 8;
    grid-column: 4 / 10;
    background-color: rgb(20, 20, 20);
}