

.rule-edit-area .rule-editor {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 10px;
    color: white;
}

.text {
    text-align: center;
    padding: 5px;
    color: white;
}

.mode-selection-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selection-button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.life-rule-data {
    font-size: 16px;
}

.current-life-rule {
    color: green;
}

.select-button {
    color: white;
    background-color: rgb(80, 80, 80);
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.select-button:hover {
    border-bottom: 1px solid white;
    background-color: rgb(40, 40, 40);
}

.select-button.selected {
    transition: color 0.2s background-color 0.2s;
    color: white;
    background-color: black;
    border-bottom: 1px solid green;
}



.raw-change-area, .assisted-change-area {
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
