.rule-input-area {
    justify-self: center;
    align-self: center;
    width: 50%;

    .rule-input {
        text-align: center;
        
        &.valid {
            background-color: lightgreen;
        }

        &.invalid {
            background-color: red;
        }

    }
}
