.editing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 150);
    width: 100%;
    pointer-events: none;
}

.edit-button {
    border-radius: 5px;
    background-color: white;
    border: none;
    pointer-events: auto;
}

.edit-button:hover:not(.disabled) {
    transition: background-color 0.25s;
    background-color: rgb(220, 220, 220);
}

.edit-button:active:not(.disabled) {
    transition: background-color 0.1s transform 0.1s;
    background-color: black;
    transform: translateY(2px);
}

.edit-button.selected:hover {
    transition: background-color 0.25s;
    background-color: rgb(110, 110, 110);
}

.edit-button.selected {
    background-color: rgb(50, 50, 50);
}