html, body, .app {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: rgb(60, 60, 60);
  max-width: 100%;
  max-height: 100%;
}

* {
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  min-width: 100%;
  position: relative;
  background-color: rgb(24, 24, 27);
  border: 1px solid black;
}

.menu-bar:hover {
  border-bottom: 1px solid cyan;
}

.menu, .menu-button, .menu-item {
  color: white;
  text-align: center;
  font-family: serif;
  background-color: rgb(24, 24, 27);
  border: 2px solid black;
}

.menu:hover {
  background-color: rgb(30, 34, 42) !important;
}

.menu-drop-down {
  background-color: rgb(24, 24, 27) !important;
  border: 2px solid black;
}

.menu-item {
  margin: 3px;
  padding: 8px;
  background-color: rgb(24, 24, 27);
  min-height: 20px;
}

.menu-item:hover {
  background-color: rgb(30, 34, 42) !important;
}


.menu-button {
  padding: 5px;
  margin: 3px;
}

.menu-button:hover {
  border: 2px solid black;
  background-color: rgb(30, 34, 42);
  border-bottom: 1px solid cyan;
}



@keyframes disappear {
  100% {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}

.menu-content-container {
    flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}